<form>
    <div #content class="modal-content">
        <h4>SignIn Form</h4>
        <form-input label="Username" [type]="FormInputType.text" [value]="Form.username"></form-input>
        <form-input label="Password" [type]="FormInputType.password" [value]="Form.password"></form-input>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn" type="submit">Valider</button>
    </div>
</form>