<form (ngSubmit)="handleSubmit()">
    <form-input label="Username" [type]="formInputType.text" [value]="Form.username"
        [validators]="[validators.minLength(4)]"></form-input>
    <form-input label="Password" [type]="formInputType.password" [value]="Form.password"
        [validators]="[validators.required()]"></form-input>
    <!-- <form-input label="Password" type="password" [(value)]="Form.password"></form-input> -->
    <!-- <address-form [(value)]="Form.address"></address-form> -->
    <button *ngIf="!isEdit" type="submit">S'inscire</button>
    <button *ngIf="isEdit" type="submit">Modifier</button>
</form>