<!-- <form-input label="rue" type="text" [(value)]="Value.rue"></form-input>
<form-input label="numero" type="number" [(value)]="Value.numero"></form-input>
<form-input label="ville" type="text" [(value)]="Value.ville"></form-input>
<form-input label="Pays" type="text" [(value)]="Value.pays"></form-input> -->