<ul class="pagination">
    <li *ngIf="!isFirst" class="waves-effect" (click)="previous()"><a><i class="material-icons">chevron_left</i></a>
    </li>
    <li class="waves-effect" *ngFor="let page of Pages" (click)="selectPage(page)" [class.active]="Current == page">
        <a>{{ page }}</a>
    </li>
    <li *ngIf="!isLast" class="waves-effect" (click)="next()"><a><i class="material-icons">chevron_right</i></a></li>
</ul>