<div class="form-input">
    <label [for]="Label">{{ Label }}</label>
    <input [type]="Type" [value]="Value" (input)="handleChangeValue($event)">
    <div class="error">
        <ul>
            <li *ngFor="let error of Errors">{{ error }}</li>
        </ul>
    </div>
</div>