<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of Products |page:Current:PageSize">
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.amount }}</td>
            <td>
                <button class="btn" (click)="handleBuyAction(product.id)">Acheter</button>
            </td>
        </tr>
    </tbody>
</table>


<select matSelect (valueChange)="handleChangePage($event)">
    <option value=5>5</option>
    <option value=10>10</option>
    <option value=15>15</option>
</select>

<paginator [(current)]="Current" [length]="Products.length" [pageSize]="PageSize"></paginator>