<div class="container">
    <div class="row">
        <div class="col s6">
            <produit-list (buy)="handleBuyEvent($event)"></produit-list>
            <!-- <ul>
                <li routerLink="./list"><a>List</a></li>
            </ul> -->
        </div>
        <div class="col s6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>